.container{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

@media only screen and (min-width: 375px) and (max-width: 775px){
    .container{
        width: 775px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

@media only screen and (min-width: 0) and (max-width: 375px) {
    .container {
        width: 375px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}